<div class="container">
  <h2 style="text-align:center">
    {{title}}
  </h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form [formGroup]="classifierForm">
      <div class="form-group" style="text-align:center">
        <input #file type="file" accept="image/*" (change)="preview(file.files)" class="form-control" formControlName="photo">
          <button type="submit" (click)="classifyImage(classifierForm.value)" class="btn btn-primary">Predict</button>
      </div>
      <div style="text-align:center">
        <img id="img" [src]="img" height="200" *ngIf="img">
      </div>
      <div *ngIf="predictions">
        <table class="center">
          <tr>
            <th>Label</th>
            <th>Percent</th>
          </tr>
            <tr>
              <td class="td">{{predictions[0].className}}</td>
              <td class="td">{{predictions[0].probability | percent}}</td>
            </tr>
            <tr>
              <td class="td">{{predictions[1].className}}</td>
              <td class="td">{{predictions[1].probability | percent}}</td>
            </tr>
            <tr>
              <td class="td">{{predictions[2].className}}</td>
              <td class="td">{{predictions[2].probability | percent}}</td>
            </tr>
        </table>
      </div>
      <div style="text-align:center">
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>

    </form>
  </div>
</div>
</div>